/* temples-large.css - larger view */
@media screen and (min-width: 760px) {}
  #menu {
    display: none;
  }

  nav {
    display: flex;
    flex-direction: row;
    gap: 1rem;
  }

  nav.open {
    display: flex;
  }

  main {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
